*{
  font-family: 'Jost', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 13%, rgba(63,140,126,1) 100%);

}

.menu__items{
  padding:1em;
 
}

.menu__ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.menu__li{
  flex-grow:1;
}

.menu__item{
  font-family: Arial;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #F25835;
  display: block;
  text-decoration: none;
  padding: .5em 1em;

}
.menu__item:hover {
  background: tomato;
  color: white;
  transform: scale(1.5,1.5);
}
.menu__logo{
  width: 100px;
}

h2, h3{
  text-align: center;
  width: 100%;
  background-color: #F25835;
  padding: 20px 0 20px 0;
}

.tabla{
  background-color: white;
  border: black solid 2px;
  width: 100%;
}

td img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th{
  border: black solid 4px;
}

td{
  border: black solid 2px;
}

footer{
  background-color: rgba(63,140,126,1);
  display: flex;
  margin-top: auto;
}

.blanco{
  margin: 20px;
  padding: 20px;
  background-color: white;
}

main{
  padding: 30px;
}

p.text-center{
  text-align: center;
}

.tgroup{
  padding: 10px;
  margin: 5px;
  background-color: rgba(63,140,126,1);
  font-size: 30px;
  font-weight: 300;
  border-radius: 30px;
}

.contacto{
display: flex;
padding: 30px;
background-color: white;
}

.contacto__form{
  padding: 30px;  
  flex-grow: 1;
}

.contacto__form__item{
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 12px 20px;
  background-color: rgba(63,140,126,1);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.contacto__form__item-input{
  display: flex;
  width: 100%;
  padding: 12px 20px;  
  border: 1px solid rgb(135, 135, 146);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.contacto__form__item-boton{
  display: flex;
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;  
}
.contacto__form__item-boton:hover {
  background-color: rgb(135, 135, 146);
}

.contacto__datos{
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex-grow: 1;
}
.contacto__datos-lista{
  border: cadetblue solid 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.contacto__datos-titulo{
  display: flex;
  justify-content: center;
  background: #F25835;
  height: 40px;
}

.contacto__datos-mapa{
  justify-content: center;
}

.sistemas__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
   'imagen imagen imagen'
   'titulo titulo titulo'
   'descripcion descripcion descripcion';
  padding: 25px;
  gap: 10px;
  justify-items: center;
  background-color: white;
  
}

.sistemas__grid-item--fila1{
  border: black solid 2px;
  grid-area: 'imagen';
  width: 100%;
  text-align: center;
  
}

.sistemas__grid-item--fila2{
  grid-area: 'titulo';
  border: black solid 2px;
  width: 100%;
  text-align: center;
}

.sistemas__grid-item--fila3{
  grid-area: 'descripcion';
  border: black solid 2px;
  width: 100%;
  text-align: center;
}

