@import '_variables';
@import '_header';
@import '_contacto';
@import '_empresas';
@import '_quienesSomos';
@import '_clientes';
@import '_sistemas';

* {
  font-family: 'Jost', sans-serif;
}

h1,
h2 {
  text-align: center;
  width: 100%;
  background-color: $color-naranja;
  padding: 20px 0 20px 0;
}

td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: $black-border 4px;
}

td {
  border: $black-border 2px;
}

footer {
  background-color: $color-verde;
  display: flex;
  margin-top: auto;
}

main {
  padding: 30px;
}

p.text-center {
  text-align: center;
}
.blanco {
  margin: 20px;
  padding: 20px;
  background-color: white;
}
